<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
</meta>
<!--CSS読み込み-->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<title>fizzbuzzホーム画面</title>
</head>

<body>
	<h1 class="text-center pt-3">FizzBuzz</h1>
	<form id="fizzbuzz-form" method="post" action="/fizzbuzz/home" th:object="${fizzbuzzForm}">
		<div class="input-group w-25 mx-auto pt-5">
			<input type="text" class="form-control text-center" placeholder="数値を入力してね" th:field="*{inputNumber}"
				th:errorclass="is-invalid" />
			<div class="invalid-feedback" th:errors="*{inputNumber}"></div>
		</div>
		<div class="text-center">
			<button type="submit" class="btn btn-primary ">送信</button>
		</div>
	</form>
</body>

</html>